.banner-tienda {
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 30px;
    border-bottom: 4px solid #ff6900; /* Naranja Zalando */
}

.logo-tienda {
    max-width: 200px;
    margin-bottom: 15px;
}

.precio-nuevo {
    color: #ff6900;
    font-weight: bold;
    font-size: 1.2rem;
}

.boton-ir {
    background: #ff6900;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.boton-ir:hover {
    background: #333;
}